<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Users</title>
  </head>
  <body >
    <div><h1>Users</h1></div>
    <div class="bowl">
    <% data.forEach(user =>{ %>
    
      <div class="usercard<%= user.isPromoted %>">
        <p>name : <%= user.name %></p>
        <p>email : <%= user.email %></p>

        <form method="POST" action="/users/<%= user._id %>?_method=PUT">
          <button id="edit-<%= user.name %>" type="submit">
            <% if(user.isPromoted){%> <%= 'Demote' %> <%} else{%> <%=
            'promote'%> <% }%>
          </button>
        </form>
        <form method="POST" action="/users/<%= user._id %>?_method=DELETE">
          <button id="delete-<%= user.name %>">Delete</button>
        </form>
      </div>
    <%})%>
    </div>
  </body>
</html>
